$background-color: #9575cd;
$background-header-color: #4527a0;
$background-product-color1: #673ab7;
$background-product-color2: #4527a0;
$background-product-checked-color: #d1c4e9;

$button-color: #ffc107;
$text-color: white;

$text-size: 1.3rem;