$background-color: white;
$background-header-color: #004A55;
$background-product-color-hover: #A7CDCC;


$button-color: #F87D09;
$text-color-light: white;
$text-color-dark: #004A55;
$text-color-black: black;

$text-size: 1.3rem;
