$background-color: white;
$background-header-color: #004A55;
$background-product-color-hover: #A7CDCC;
$background-product-color2: #4527a0;
$background-product-checked-color: #d1c4e9;

$border-color: #F6F6F6;



$button-color: #F87D09;
$text-color-light: white;
$text-color-dark: #004A55;
$text-color-black: black;

$text-size: 1.3rem;
