@import "../../../models/SASS/main.scss";

.Header {
  text-align: center;
  color: $text-color-light;
  padding: 20px 0 10px 0;
  background: $background-header-color;
  background-image: linear-gradient(rgba(0, 73, 80, 0.856), $background-header-color);
  & .FirstText {
    & .Language {
      text-align: right;
      margin-right: 2%;
      color: $text-color-light;
      & span {
        cursor: pointer;
        }
      }

    & h3 {
      font-size: 1.3rem;
      letter-spacing: 1px;
      margin-top: 0;
    }
  }

  & .Title {
    margin: 0;
    padding-bottom: 0;
    font-size: 3.49rem;
    font-weight: 300;
    @media (max-width: 900px) {
      font-size: 2.49rem;
    }
  }
}
