@import "../../models/SASS/main.scss";

.Main {
  & .Content {
    margin: auto;
    width: 25%;

    @include respond(phone) {
      width: 60%;
    }

    @include respond(tab-1200) {
      width: 60%;
    }

    @include respond(tab-900) {
      width: 80%;
    }

    & .AddProduct {
      margin-top: 4%;
    }

    & .Products {
      margin-top: 5%;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

      & ul {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        list-style-type: none;
        max-height: 45vh;
        clear: both;

        &::-webkit-scrollbar {
          width: 0.6em;
          height: 0.5em;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 10px;
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: rgba($color: $text-color-dark, $alpha: .8);
          border-radius: 10px;
      
          &:hover {
            background-color: rgba($color: $text-color-dark, $alpha: 1);
          }
        }

        & li {
          cursor: pointer;
          border: 1px solid $text-color-dark;
          transition: background-color .2s;
          width: 98%;

          &:not(:first-of-type){
            margin: .5em 0;
          }
          &:hover {
            background-color: $background-product-color-hover;
          }
        }
        & .EmptyList {
          text-align: center;
          font-size: $text-size;
          color: $text-color-dark;
        }
      }
    }

    & .Order {
      text-align: center;
      margin: auto;
      width: 30%;
      & button {
        padding: 10px;
      }
    }
  }
}
