@import "../../../models/SASS/main.scss";

.Note {
  position: absolute;
  width: 20%;
  height: 11%;
  margin-top: -5%;
  margin-right: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: rgba($color: white, $alpha: 0.9);
  z-index: 1;
  @include respond(phone) {
    width: 60%;
    height: 15%;
    margin-right: 0;
    margin-top: -28%;
  }
  @include respond(tab-900) {
    width: 60%;
    height: 10%;
    margin-right: 10%;
    margin-top: -10%;
  }
  @include respond(tab-1200) {
    width: 60%;
    height: 8%;
    margin-right: 0%;
    margin-top: -10%;
  }

  & .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 1%;
    @include respond(phone) {
      margin-top: 1%;
      margin-bottom: 2%;
    }

    & .ProductTitle {
      margin: 0;
      padding: 0;
      color: $background-header-color;
      font-size: 1.1rem;
    }
    & .Button {
      & button {
        border-radius: 5px;
        text-align: center;
        padding: 0;
        font-size: 1.05rem;
        padding-left: 2px;
        padding-right: 2px;
        cursor: pointer;
      }
    }
  }
  & .Content {
    width: 90%;
    margin: auto;
    & input {
      width: 100%;
      line-height: 2;
      border: 1px solid $background-header-color;
      border-radius: 2px;
      font-size: 1rem;
      color: $background-header-color;
      
      &::placeholder {
        color: rgba($color: $background-header-color, $alpha: 0.7);
        padding-right: 1%;
      }
    }
  }
}
