@import "../../../models/SASS/main.scss";

.Header {
  text-align: center;
  color: $text-color;
  padding: 20px 0 10px 0;
  background:$background-header-color;

  & .UserName {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  & .Title {
    margin: 0;
    padding-bottom: 0;
    font-size: 3.49rem;
    font-weight: 300;
    @media (max-width: 900px) {
      font-size: 2.49rem;
    }
  }
}
