@import "../../../models/SASS/main.scss";

.Auto {

    & input {
        width: 100%;
        border: none;
        color: rgba(0, 0, 0, 0.87);
        font-size: $text-size;
        padding: 10px;

        &::placeholder {
          color: rgba(0, 0, 0, 0.38);
          font-size: $text-size;
        }

        &:focus {
          outline: none;
          -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

          &::placeholder {
            visibility: hidden;
          }
        }
      }
}